*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
                
    height:100%;
    width:100%;
    
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr  ;
    grid-template-rows: 80px 200px 1fr;
    grid-template-areas: "header header "
                          "aside section "
                           "figure figure";
                           padding: 20px;
                           grid-gap: 5px;
                          
}


header{
    grid-area: header;
    background-color: brown;
}

aside{
    grid-area: aside;
    background-color: red;
}

section{
      grid-area: section;
    background-color: blue;
}

figure{
    grid-area: figure;
    background-color: chocolate;
}